[Unit]
Description=Persistent ESUS wrapper
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/esus-tmv23
ExecStart=/home/ubuntu/esus-tmv23/venv/bin/python wrapper.py
Restart=always
RestartSec=10
User=ubuntu
StandardOutput=append:/home/ubuntu/esus-tmv23/std.out
StandardError=append:/home/ubuntu/esus-tmv23/std.err

[Install]
WantedBy=multi-user.target

